.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiListItem-dense:nth-child(even){
  background: #f6f6f6;
}

a{
  color: black;
}

.right-chev{
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  background-color: lightgray;
  height: 30px;
}

.station-block{
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.station-block div{
  background-color: lightgray;
  border-radius: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.station-side > :not(.right-chev){
  padding-left: 20px;
  padding-right: 20px;
}

.station-right :not(.right-chev){
  text-align: right;
}